<p>prodashboard works!</p>
<button type="button" class="btn btn-primary" (click)="signout()" [routerLink]="['/login-component']">SignOut</button>
<br>
<p id="professionalId"></p>
<p id="professionalpno"></p>
<p id="professionaltype"></p>
<p id="professionalptype"></p>
<p id="professionallatitude"></p>
<p id="professionallongitude"></p>
<p id="professionalbusy"></p>
<p id="professionaltimestamp"></p>
<button id="finish" type="button" class="btn btn-success" (click)="finish()">✔ FINISHED!!</button>
<!-- <button id="decline" type="button" class="btn btn-danger">❌ DECLINE</button> -->